formitem {
  width: 100%;
}

form .autoLayout_modify .ivu-form-item-content {
  margin-left: 0 !important;
}

.ivu-form-inline .ivu-form-item {
  width: 100%;
}

.ivu-form-item-error-tip {
  top: 7px !important;
  left: 103% !important;
  line-height: 1;
  min-width: 200px;
  width: auto;
  padding-top: 6px;
  color: #ed3f14;
}

.tabRight .ivu-form-item-error-tip {
  left: 52%;
}

.ivu-form-inline .ivu-form-item {
  margin-bottom: 0;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
}
