.container {
    min-height: 100%;
    height: auto;
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}

.border-bottom {
    border-bottom: 1px solid #dddee1
}

.el-aside {
    min-width: 56px;
    max-width: 200px;
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}


body > .el-container {
    margin-bottom: 40px;
}

/*.container .el-container {*/
    /*flex: 1;*/
/*}*/

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}