/*主页面布局样式*/

// 头部
.container .el-header {
  padding: 0;
  background-color: $main-color;
  color: $header-font-color;
  line-height: 50px;
}

// 侧边nav导航栏
.el-aside {
  min-width: 56px;
  max-width: 200px;
  background-color: $main-bg-color;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #ffffff;
  color: $main-font-color;
  text-align: left;
  padding: 0 10px;
}
